.wraper {
  display: flex;
}

.admin-page {
  display: flex;
  background-color: white;
  width: 100%;
}
.admin {
  display: none;
}
@media screen and (min-width: 600px) {
  .admin {
    display: block;
  }
}
