@keyframes move {
  0% {
    left: 100%;
    top: 0%;
  }
  100% {
    left: 0%;
    top: 0%;
  }
}

.age-comp {
  animation-name: move;
  animation-duration: 0.5s;

  position: relative;
}

.age {
  display: flex;
  padding: 5%;
  line-height: 8vh;
  font-size: 4vh;
  justify-content: space-between;
}
h1 {
  text-align: center;
  padding-top: 2%;
  margin: 0;
}
.btn-age {
  display: flex;
  align-items: flex-end;
}
button {
  font-size: 3vh;
  height: 8vh;
  width: 15vh;
  border-radius: 10%;
  background-color: #d1e7dd;
}
.answer {
  margin-left: 70%;
}
