.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10vh;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .footer {
    position: fixed;
    height: 10vh;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}
